@font-face {
  font-family: mont;
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
}
body{
  font-family: mont;
background-color: 254,254,254 ;
display: grid;
width: 60%;
max-width: 800px;
margin: 25px auto;
text-align: center;
}
.header-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 9px;
  margin-bottom: 100px;
}
.menu-button{
  background-color: rgb(249, 248, 248);
  color: rgb(40, 40, 40);
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: inset 0px 0px 1px #c1c1c1;
}
.menu-button:hover {
  box-shadow: inset 0px 0px 3px #c1c1c1;
  transform: translateY(-2px); 
}
.headshot{
  margin-top: 30px;
  height: 100px;
  width: 100px;
}
.welcome-container{
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: rgb(40, 40, 40);
  background-color: rgb(249, 248, 248);
  border-radius: 20px;
  box-shadow: inset 0px 0px 3px #c1c1c1;
}
.welcome-text-1{
  margin-bottom: 0px;
  padding: 0px;
}
.welcome-text-2{
  color: rgb(154, 154, 154);
  margin-top: 5px;
  margin-bottom: 30px;
  padding: 0px;
}